* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #1b262c;
}
.App {
  display: flex;
  justify-content: center;
  color: #ffa372;
}

.wrapper {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px;
  border-bottom: 3px #121a1f solid;
}
.wrapper li {
  list-style-type: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.wrapper li:hover {
  color: #ed6663;
}

.ReadingList ul {
  padding: 10px;
}
form {
  display: flex;
  flex-flow: column;
}
form:nth-child(2) {
  margin: 10px;
}
